<div class="content">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="abouts" class="col-sm-2 control-label">描述</label>
        <div class="col-sm-6">
          <textarea rows="4" type="text" class="form-control" id="abouts" placeholder="描述"></textarea> 
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">地址</label>
        <div class="col-sm-6">
          <textarea rows="3" type="text" class="form-control" id="address" placeholder="地址"></textarea> 
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">价格</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="price" placeholder="价格">             
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">类型</label>
        <div class="col-sm-2">
          <select class="form-control">
            <option value="新房">新房</option>
            <option value="二手房">二手房</option>
            <option value="租房">租房</option>
          </select>            
        </div>
      </div>
      <div class="form-group">
        <label for="pic" class="col-sm-2 control-label">缩略图</label>
        <input type="file" id="pic" class="col-sm-2">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <a class="btn btn-default">保存</a>
        </div>
      </div>
    </form>
</div>