<div class="content">
  <div class="roomTypeMenu">
    <ul>
      <li><a href="#">新房</a></li>
      <li><a href="#">二手房</a></li>
      <li><a href="#">租房</a></li>
    </ul>
  </div>
  <div class="roomInfo">
    <div class="room">
      <table class="roomTable">
        <tr class="row">
          <th class="col-sm-1">ID</th>
          <th class="col-sm-1">类型</th>
          <th class="col-sm-2">缩略图</th>
          <th class="col-sm-3">描述</th>
          <th class="col-sm-2">地址</th>
          <th class="col-sm-1">价格</th>
          <th class="col-sm-2">操作</th>
        </tr>
        <tr class="row">
          <td class="col-sm-1">1</td>
          <td class="col-sm-1">二手房</td>
          <td class="col-sm-2"><img src="D:\毕业设计\李欣洺\程序\lianliangoufang\public\images\ed0b8de5-9831-4bab-bc5d-3af5feb35132.jpg.232x174.jpg"></td>
          <td class="col-sm-3">东鹏陶瓷被评为“中国名牌”、“国家免检产品”、“中国驰名商标”、http://www.dongpeng.net/</td>
          <td class="col-sm-2">大连市旅顺口区新发路花园海景房三栋B单元401</td>
          <td class="col-sm-1">7000¥/平</td>
          <td class="col-sm-2">
            <a href="#" class="glyphicon glyphicon-pencil" aria-hidden="true"></a href="#">
            <a href="#" class="glyphicon glyphicon-trash" aria-hidden="true"></a href="#">
          </td>
        </tr>
      </table>
    </div>
    <nav aria-label="Page navigation" class="fenye">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">上一页</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">下一页</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>