<div class="content">
  <table class="table table-bordered users">
    <tr>
      <th>ID</th>
      <th>账户名</th>
      <th>开户时间</th>
      <th></th>
    </tr>
    <tr>
      <td>1</td>
      <td>1415003719</td>
      <td>2015789</td>
      <td>
        <a href="#" class="glyphicon glyphicon-trash" aria-hidden="true"></a href="#">
      </td>
    </tr>
  </table>
  <nav class="fenye" aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">上一页</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">下一页</span>
        </a>
      </li>
    </ul>
  </nav>
</div>