<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大连(连连网)</title>

    <!-- Bootstrap -->
    <link href="./../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./../../public/stylesheets/users/showRoom.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="logoMenu">
        <div class="logo"><a href="#"><span class="glyphicon glyphicon-home"></span>连连</a></div>
        <div class="headerMenuContent">
          <div class="sign">
            <a href="#">立即注册</a>
            <a href="#">登录</a>
            <a href="#" class="glyphicon glyphicon-user"></a>
          </div>
          <div class="headerMenu">
            <ul>
              <li><a href="#">新房</a></li>
              <li><a href="#">二手房</a></li>
              <li><a href="#">租房</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row room">
        <div class="roomPic col-sm-3 col-sm-offset-1"><img src="./../../public/images/room/upload_083ae85570a56fa4ce3db7b3d7aa1345.jpg"></div>
        <div class="about col-sm-4">
          <h4>大连市旅顺口区新发路华发新城2栋b单元</h4>
          <p>海景房</p>
          <div>
            <button type="button" class="btn btn-success" disabled="disabled">新房</button>
            <button type="button" class="btn btn-info">添加收藏</button>
          </div>
        </div>
        <div class="price col-sm-3">
          <span>700</span><p>万</p>
        </div>
      </div>
      <div class="row room">
        <div class="roomPic col-sm-3 col-sm-offset-1"><img src="./../../public/images/room/upload_083ae85570a56fa4ce3db7b3d7aa1345.jpg"></div>
        <div class="about col-sm-4"></div>
        <div class="price col-sm-3"></div>
      </div>
      <div class="row room">
        <div class="roomPic col-sm-3 col-sm-offset-1"><img src="./../../public/images/room/upload_083ae85570a56fa4ce3db7b3d7aa1345.jpg"></div>
        <div class="about col-sm-4"></div>
        <div class="price col-sm-3"></div>
      </div>
      <div class="row room">
        <div class="roomPic col-sm-3 col-sm-offset-1"><img src="./../../public/images/room/upload_083ae85570a56fa4ce3db7b3d7aa1345.jpg"></div>
        <div class="about col-sm-4"></div>
        <div class="price col-sm-3"></div>
      </div>
      <div class="row room">
        <div class="roomPic col-sm-3 col-sm-offset-1"><img src="./../../public/images/room/upload_083ae85570a56fa4ce3db7b3d7aa1345.jpg"></div>
        <div class="about col-sm-4"></div>
        <div class="price col-sm-3"></div>
      </div>
    </div>
    <div class="footer">
      <div class="footInfo">
        大连连连购房网
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./../../public/javascripts/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./../../public/javascripts/bootstrap.min.js"></script>
    <script src="./../../public/javascripts/showRoom.js"></script>
  </body>
</html>