<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大连(连连网)</title>

    <!-- Bootstrap -->
    <link href="./../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./../../public/stylesheets/users/userSign.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="header">
  <h2><a href="/user">连连</a></h1>
  </div>
  <div class="container">
    <h3>用户注册</h3>
    <form class="form-horizontal">
      
      <div class="form-group">
        <div class="col-sm-3 col-sm-offset-4">
          <p class="warnText"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-2 col-sm-offset-2 control-label">用户名</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="username" placeholder="用户名">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 col-sm-offset-2 control-label">密码</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="password" placeholder="密码">
        </div>
      </div>
      <div class="form-group">
        <label for="surepassword" class="col-sm-2 col-sm-offset-2 control-label">确认密码</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="surepassword" placeholder="确认密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
          <a href="javascript:void(0)" class="btn btn-default sign">注册</a>
        </div>
      </div>
    </form>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./../../public/javascripts/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./../../public/javascripts/bootstrap.min.js"></script>
    <script src="./../../public/javascripts/userSign.js"></script>
  </body>
</html>