<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大连(连连网)</title>

    <!-- Bootstrap -->
    <link href="./../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./../../public/stylesheets/users/userHome.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="header">
    <div class="logoMenu">
      <div class="logo"><a href="#"><span class="glyphicon glyphicon-home"></span>连连</a></div>
      <div class="headerMenuContent">
        <div class="sign">
          <a href="#">立即注册</a>
          <a href="#">登录</a>
          <a href="#" class="glyphicon glyphicon-user"></a>
        </div>
        <div class="headerMenu">
          <ul>
            <li><a href="#">新房</a></li>
            <li><a href="#">二手房</a></li>
            <li><a href="#">租房</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mainTitle">
      <h1>连接每个家的故事</h1>
    </div>
    <div class="search">
      <span><input type="text" placeholder="请输入地点进行查询" id="searchText"></span>
      <span>
        <select id="searchType">
          <option>开始找房</option>
          <option>新房</option>
          <option>二手房</option>
          <option>租房</option>
        </select>
      </span>
      <a href="#" class="searchBtn"><span class="glyphicon glyphicon-zoom-in"></span></a>
    </div>
  </div>
  <div class="contentMenu">
    <div class="container">
      <div class="row">
        <section class="col-sm-4">
          <a href="#" class="newRoomBg"><img src="./../../public/images/home.png"></a>
          <a href="#">找新房</a>
        </section>
        <section class="col-sm-4">
          <a href="#" class="newRoomBg"><img src="./../../public/images/home (1).png"></a>
          <a href="#">找二手房</a>
        </section>
        <section class="col-sm-4">
          <a href="#" class="newRoomBg"><img src="./../../public/images/home (2).png"></a>
          <a href="#">想租房</a>
        </section>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footInfo">
      大连连连购房网
    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./../../public/javascripts/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./../../public/javascripts/bootstrap.min.js"></script>
    <script src="./../../public/javascripts/userHome.js"></script>
  </body>
</html>